.cont-styles{
    background-color: rgb(7, 6, 7);
    border-radius: 15%;
}
.cont-styles h3{
    color: rgb(238, 66, 14);
    text-align: center;
    font-family: cursive;
}
.cont-styles marquee{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1rem;
    color: rgb(31, 11, 180);
}
.card-color{
    background-color: rgb(187, 185, 176);
    border-radius: 20%;
    
}