.cont-styles{
    background-color: rgb(244, 16, 16);
}
.cont-styles h3{
    color: blue;
    text-align: center;
    font-family: cursive;
}
.cont-styles marquee{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgb(93, 19, 23);
}